<style>
        p.first {color: rgb(111, 0, 255);font-size: large; margin-top: 175px; padding-left: 10px;}
            p.subhead {color: green; font-size: xx-large ;margin-left: 500px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
                h1 {font-size: xx-large;margin-left: 850px; font-weight: bold;font-family: fantasy }
                    img.main {width: 575px;float: left;border-radius: 287px; margin-left: 0px;}
                img.two {width: 300px;margin-top: 5cm;margin: auto;float: left;padding-top: 150px;margin-left: 0px;}
                body{background-color: #a39898b7;}
                h2{padding-top:125px ;}
                p.second-pic{padding-top: 125px;}
    </style>